* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #f9f9f9;
  --light-grey: #555;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

p,
a,
button {
  font-family: "Lato", sans-serif;
}

/* HEADER */

header {
  width: 100vw;
  height: 50px;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: right;
}

nav {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header a {
  color: var(--white);
  text-decoration: none;
}

/* SECTION 1 */

#section-1 {
  background-image: url("https://images.unsplash.com/photo-1653525749885-46a75af1eb5d?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  color: var(
    --white
  ); /* Makes text more readable if it overlaps the background */
  padding: 20px; /* Optional: Adds spacing inside the section */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gw-h1 {
  font-size: 3.9rem;
  padding-left: 0;
  padding-right: 0;
}

.rename-h1 {
  font-size: 9rem;
  padding-bottom: 0;
}

form {
  width: 465px;
  display: flex;
}

#input-field {
  width: 80%;
}

#sub-button {
  width: 20%;
}

/* SECTION 2 */

#section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
}

/* SECTION 3 */

#section-3 {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh auto 20vh;
  grid-template-areas:
    ". . h h h h h h h h . ."
    "l l i i i i i i i i r r"
    ". . d d d d d d d d . .";
}

#story-header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: center;
}

#story-carousel-left {
  grid-area: l;
}

#img-carousel-container {
  grid-area: i;
  display: flex;
  justify-content: space-between;
}

#img-carousel-left {
  width: 25%;
}

#img-carousel-right {
  width: 25%;
}

#story-carousel-right {
  grid-area: r;
}

#story-description {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* SECTION 4 */

#section-4 {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-story {
  width: 30%;
  height: 30%;
}

/* FOOTER */

footer {
  background-color: var(--white);
  padding: 20px;
  text-align: center;
}
.credentials {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.credentials .profile {
  text-align: center;
}
.credentials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.description {
  margin-top: 20px;
  font-size: 14px;
  color: var(--light-grey);
}
